/* Variables globales */

/* color navbar */
$color-logo: #ffaf01;
$color-navbar: #ffd61e;
$color-navbar-btn:#ffd61ea4;

/* color de botones */
$color-btn: orange;
$color-btn-hover: rgba(255, 179, 37, 0.705);

$color-galeria: blueviolet;
$color-galeria-hover: rgba(163, 82, 238, 0.781);

$color-nosotros: rgb(77, 168, 253);